<br />
<center>
  <table class="responsive">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Abreviatura</th>
        <th>Link</th>
        <th>Criado em</th>
        <th>Atualizado em</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @secretarias.each do |s| %>
      <tr>
        <td><%= s.nome%></td>
        <td><%= s.abreviatura%></td>
        <td><%= s.link%></td>
        <td><%= s.created_at.strftime("%d/%m/%Y %H:%m")%></td>
        <td><%= s.updated_at.strftime("%d/%m/%Y %H:%m")%></td>
        <td><a class="button tiny" href="<%= "/home/apps?sec=#{s.id}" %>" style="margin:0">Aplicações...</a></td>
      </tr>
      <% end %>
    </tbody>

  </table>
</center>